@font-face {
	font-family: "Scada Bold";
	src: url("./scada/scadaBold/scadaBold.ttf") format("truetype"),
		url("./scada/scadaBold/scadaBold.woff") format("woff");
}
@font-face {
	font-family: "Scada Regular";
	src: url("./scada/scadaRegular/scadaRegular.ttf") format("truetype"),
		url("./scada//scadaRegular/scadaRegular.woff") format("woff");
}
@font-face {
	font-family: "Roboto Condensed";
	src: url("./roboto/robotoCondensedBold/roboto-condensed-bold.ttf") format("truetype"),
		url("./roboto/robotoCondensedBold/roboto-condensed-bold.woff") format("woff");
}

.scada--bold {
	font-family: "Scada Bold", sans-serif;
	font-weight: bold;
}
.scada--regular {
	font-family: "Scada Regular", sans-serif;
	font-weight: 400;
}
.roboto--condensed {
	font-family: "Roboto Condensed", sans-serif;
	/* font-weight: 700; */
}
.fontsPreload {
	font-weight: 700;
	position: absolute;
	left: -1000px;
	visibility: hidden;
}
